.experience {
  padding: 8rem 2rem;
  height: auto;
}

.experience-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section-title {
  color: #ffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem;
  letter-spacing: 0.25ch;
}

.tools-container {
  width: 40%;
  height: auto;
}

.tools-container .tools-used {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem 1rem;
  margin: 3rem;
}

.tools-used .icons {
  width: 7rem;
  height: 7rem;
  text-align: center;
  align-content: center;
  border-radius: 0.65rem;
  border: 1.5px solid #6852ba;
  cursor: pointer;
}

.tools-used .icons .icon-image {
  height: auto;
  width: 4.5rem;
}

.tools-used .icons .icon-image:hover {
  transform: translateY(-0.5rem);
  transition: all 0.3s ease;
}

.work-experience {
  width: 60%;
  height: fit-content;
  color: #fff;
  background: #130f2a;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1rem 1rem;
  margin: 3rem;
}

.experience-card {
  padding: 1.5rem 1rem;
  align-items: center;
}

.experience-card h3 {
  margin: 0;
  font-size: 1.5em;
  color: #a88bfd;
}

.date {
  color: #9c8ab5;
  margin-bottom: 20px;
}

ul {
  padding: 0;

}

ul li {
  margin-bottom: 10px;
  padding-left: 1.2em;
  text-indent: -1.2em;
  font-size: 0.75rem;
  font-weight: 200;
  color: #fff;

}
@media screen and (max-width:1125px) {
  .tools-container .tools-used {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width:768px) {
  .experience-container {
    flex-direction: column-reverse;
    align-items: center;


  }

  .section-title {
    font-size: 1.75rem;
    text-align: center;

  }

  .work-experience,.tools-container {
    width: 100%;
  }

  .tools-container .tools-used {
    margin: 0;
    grid-template-columns: repeat(4, 1fr);

  }

  .tools-used .icons {
    width: 6rem;
    height: 6rem;
  }
  
  .tools-used .icons .icon-image {
    height: auto;
    width: 3.5rem;
  }
}
 
@media screen and (max-width:620px){

  .tools-container .tools-used {
    margin: 0;
    grid-template-columns: repeat(4, 1fr);

  }

  .section-title{
    text-align: center;
    font-size: 1.70rem;
  }
}

@media screen and (max-width:550px){

  .tools-container .tools-used {
    margin: 0;
    grid-template-columns: repeat(3, 1fr);

  }
}
@media screen and (max-width:460px) {
  .experience{
    padding-bottom: 0;
  }
  .experience-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .experience-container .section-title {
    font-size: 1.5rem;
    text-align: center;

  }
  .experience-card h3 {
    font-size: 1.35rem;
  }

  .experience-card .date{
    font-size: 0.8rem;
  }
  .experience-card ul li {
    font-size: 0.65rem;
    font-weight: 200;
  }
  .tools-container {
    width: 100%;
    align-items: center;
  }
  
  .tools-container .tools-used {
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;

  }

  .tools-used .icons {
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
  }

  .tools-used .icons .icon-image {
    height: 3.25rem;
    width: 3.25rem;
  }
}