.contact-container {
    margin: 4rem 0;
    position: relative;
}

.contact-container h5 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.contact-content {
    display: flex;
    gap: 3rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    gap:1rem;
}



.contact-details .social {
    display: flex;
    flex-direction: row;
    height: 7rem;
    align-items: center;
    gap: 1rem;
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.contact-details .social .icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #3d3072;
    margin-bottom: 0.8rem;
    cursor: pointer;
}
.contact-details .emailIcon,
.contact-details .linkedinIcon,
.contact-details .githubIcon{
    font-size: 3.5rem;
    cursor: pointer;
}
.contact-details .social a{
    color: #ffff;
    line-height: 1rem;
    cursor: pointer;
}

.contact-details .social a:hover{
    color: #6751b9;
}
.contact-details .social .icon:hover{
    background: transparent;
    border:1px solid #3d3072;
    color: #3d3072;
}

@media screen and (max-width:768px) {
    .contact-content{
        flex-direction: column-reverse;

    
    }

    .contact-container h5{
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        margin-left: 1.75rem;

    }
    .contact-details {
        gap: 0
    }
    .contact-details .social {
        margin-right: 2rem;
        margin-left: -1rem;
    }
}
